html {
  scroll-snap-type: y mandatory;
}

.App {
  background-color: #000;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-videos {
  height: 100vh;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  border: 1px solid #fff;
  border-radius: 30px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

/* Esconde scrollbar no chrome, safari e opera */
.app-videos::-webkit-scrollbar {
  display: none;
}

/* Esconde scrollbar no explorer, edge e firefox */
.app-videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
